<%- include('./headerAd.ejs') %>

    <main id="main-content" class="site-main-dashboard">
        <div class="page-dashboard-wrap">
            <div class="dashboard">
                <div class="row ">
                    <div class="col-12">
                        <h4 class="title-dashboard">Dashboard</h4>
                    </div>
                </div>
                <div class="show-dashboard">
                    <span class="btn-show-dashboard">
                        <i class="icon-th-list"></i>
                        Show Dashboard
                    </span>
                </div>
                <div class="dashboard-overview">
                    <div class="row tf-counter">
                        <div class="col-12 col-sm-6 col-xl-6 col-xxl-3">
                            <div class="db-card tf-counter">
                                <div class="icon-overview">
                                    <svg width="34" height="34" viewBox="0 0 34 34" fill="none"
                                        xmlns="../http://www.w3.org/2000/svg">
                                        <g clip-path="url(#clip0_4175_22)">
                                            <path
                                                d="M5.04688 17.9297C5.30186 17.9297 5.55659 17.8324 5.75114 17.6379L13.0156 10.3734L16.2957 13.6535C16.6848 14.0426 17.3152 14.0426 17.7043 13.6535L27.957 3.40073V4.98047C27.957 5.53091 28.4027 5.97656 28.9531 5.97656C29.5036 5.97656 29.9492 5.53091 29.9492 4.98047V0.996094C29.9492 0.963409 29.9474 0.930466 29.9443 0.898041C29.9427 0.881699 29.9396 0.865875 29.9373 0.850052C29.935 0.833969 29.9331 0.817886 29.93 0.802063C29.9264 0.782608 29.9209 0.763931 29.9163 0.744995C29.9129 0.732803 29.9103 0.720352 29.9067 0.70816C29.9007 0.688187 29.8934 0.668991 29.8862 0.649536C29.882 0.638641 29.8787 0.627487 29.8743 0.616852C29.866 0.596878 29.8564 0.577423 29.847 0.558228C29.8423 0.54837 29.8379 0.538513 29.833 0.528915C29.8216 0.507645 29.8091 0.487411 29.7964 0.467178C29.792 0.459915 29.7881 0.452652 29.7835 0.445648C29.7656 0.41893 29.7466 0.39299 29.7264 0.368088C29.7261 0.367828 29.7261 0.367569 29.7259 0.36731C29.6828 0.314651 29.6346 0.266403 29.5819 0.223343C29.5816 0.223083 29.5814 0.223083 29.5811 0.222824C29.5562 0.202591 29.5303 0.183655 29.5036 0.165756C29.4966 0.161087 29.4893 0.157196 29.482 0.152786C29.4618 0.140076 29.4416 0.127625 29.4203 0.116211C29.4107 0.111023 29.4008 0.106873 29.391 0.102203C29.3718 0.0926056 29.3523 0.0832672 29.3324 0.0749664C29.3217 0.0705566 29.3106 0.0671845 29.2997 0.0630341C29.2802 0.0557709 29.261 0.0485077 29.2411 0.0425415C29.2289 0.0389099 29.2164 0.0363159 29.2042 0.0329437C29.1853 0.0282745 29.1666 0.0228271 29.1472 0.0191955C29.1313 0.0160828 29.1152 0.014267 29.0992 0.0119324C29.0833 0.00959776 29.0675 0.00648498 29.0512 0.00492859C29.0188 0.0018158 28.9858 0 28.9531 0H24.9688C24.4183 0 23.9727 0.445648 23.9727 0.996094C23.9727 1.54654 24.4183 1.99219 24.9688 1.99219H26.5485L17 11.5407L13.7199 8.26057C13.3308 7.87148 12.7005 7.87148 12.3114 8.26057L4.34261 16.2293C3.95351 16.6184 3.95351 17.2488 4.34261 17.6379C4.53716 17.8324 4.79189 17.9297 5.04688 17.9297Z"
                                                fill="#D01818" />
                                            <path
                                                d="M0 33.0039C0 33.5544 0.445648 34 0.996094 34H8.96484C9.51529 34 9.96094 33.5544 9.96094 33.0039V31.6094H0V33.0039Z"
                                                fill="#D01818" />
                                            <path
                                                d="M8.96484 27.2266H0.996094C0.445648 27.2266 0 27.6722 0 28.2227V29.6172H9.96094V28.2227C9.96094 27.6722 9.51529 27.2266 8.96484 27.2266Z"
                                                fill="#D01818" />
                                            <path
                                                d="M12.0195 33.0039C12.0195 33.5544 12.4652 34 13.0156 34H20.9844C21.5348 34 21.9805 33.5544 21.9805 33.0039V31.6094H12.0195V33.0039Z"
                                                fill="#D01818" />
                                            <path d="M24.0391 27.2266H34V29.6172H24.0391V27.2266Z" fill="#D01818" />
                                            <path
                                                d="M33.0039 14.0781H25.0352C24.4847 14.0781 24.0391 14.5238 24.0391 15.0742V16.4688H34V15.0742C34 14.5238 33.5544 14.0781 33.0039 14.0781Z"
                                                fill="#D01818" />
                                            <path d="M24.0391 18.4609H34V20.8516H24.0391V18.4609Z" fill="#D01818" />
                                            <path d="M24.0391 22.8438H34V25.2344H24.0391V22.8438Z" fill="#D01818" />
                                            <path
                                                d="M24.0391 33.0039C24.0391 33.5544 24.4847 34 25.0352 34H33.0039C33.5544 34 34 33.5544 34 33.0039V31.6094H24.0391V33.0039Z"
                                                fill="#D01818" />
                                            <path d="M12.0195 27.2266H21.9805V29.6172H12.0195V27.2266Z"
                                                fill="#D01818" />
                                            <path
                                                d="M20.9844 22.8438H13.0156C12.4652 22.8438 12.0195 23.2894 12.0195 23.8398V25.2344H21.9805V23.8398C21.9805 23.2894 21.5348 22.8438 20.9844 22.8438Z"
                                                fill="#D01818" />
                                        </g>
                                        <defs>
                                            <clipPath id="clip0_4175_22">
                                                <rect width="34" height="34" fill="white" />
                                            </clipPath>
                                        </defs>
                                    </svg>
                                </div>
                                <div class="content-overview">
                                    <span>My Contact</span>
                                    <div class="d-flex">
                                        <div class="listing-text number" data-to="<%= TotalContact %>" data-speed="3000"
                                            data-waypoint-active="yes"><%= TotalContact %></div><span> + </span>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-xl-6 col-xxl-3">
                            <div class="db-card tf-counter">
                                <div class="icon-overview">
                                    <svg width="26" height="26" viewBox="0 0 26 26" fill="none"
                                        xmlns="../http://www.w3.org/2000/svg">
                                        <g clip-path="url(#clip0_4175_433)">
                                            <path
                                                d="M12.957 26C12.5364 26 12.1953 25.659 12.1953 25.2383C12.1953 24.8176 12.5364 24.4766 12.957 24.4766C19.2852 24.4766 24.4336 19.3282 24.4336 13C24.4336 6.67179 19.2852 1.52344 12.957 1.52344C12.5364 1.52344 12.1953 1.18239 12.1953 0.761719C12.1953 0.341047 12.5364 0 12.957 0C16.4295 0 19.694 1.35225 22.1495 3.80758C24.6048 6.26295 25.957 9.52758 25.957 13C25.957 16.4724 24.6048 19.737 22.1495 22.1924C19.694 24.6477 16.4295 26 12.957 26Z"
                                                fill="#D01818" />
                                            <path
                                                d="M19.0779 19.8809C18.9779 19.8811 18.8788 19.8615 18.7864 19.8232C18.6939 19.7849 18.61 19.7287 18.5394 19.6578L12.4202 13.5387C12.2774 13.3958 12.1971 13.2021 12.1971 13.0001V5.35116C12.1971 4.93049 12.5381 4.58945 12.9588 4.58945C13.3795 4.58945 13.7205 4.93049 13.7205 5.35116V12.6846L19.6165 18.5806C19.914 18.8781 19.914 19.3604 19.6165 19.6579C19.5459 19.7287 19.4619 19.7849 19.3695 19.8232C19.2771 19.8614 19.178 19.8811 19.0779 19.8809ZM8.53322 2.34908C8.62726 2.34908 8.72294 2.33156 8.81561 2.29454C8.81835 2.29347 9.08953 2.18546 9.38142 2.09421C9.69331 1.99676 10.062 1.89245 10.0657 1.89144C10.4706 1.77708 10.706 1.35615 10.5917 0.951324C10.4774 0.546496 10.0568 0.310973 9.65162 0.425383C9.63578 0.429851 9.25939 0.536289 8.92703 0.640137C8.69854 0.712261 8.47263 0.792306 8.24971 0.880129C7.85925 1.03643 7.66948 1.47955 7.82563 1.87006C7.94476 2.16789 8.23082 2.34908 8.53322 2.34908ZM5.45725 2.37995C5.44394 2.3897 5.12874 2.62116 4.85386 2.8348C4.66505 2.98237 4.48145 3.13648 4.30339 3.29686C3.99241 3.58002 3.96991 4.06152 4.25292 4.37261C4.32426 4.45118 4.41127 4.51393 4.50835 4.55683C4.60542 4.59972 4.71041 4.6218 4.81654 4.62164C5.00606 4.62186 5.18881 4.55118 5.32887 4.42349C5.33105 4.42151 5.54713 4.22539 5.78864 4.03776C6.04671 3.83722 6.35557 3.61038 6.35866 3.60815C6.69783 3.35922 6.77096 2.88254 6.52208 2.54337C6.2731 2.2042 5.79641 2.13102 5.45725 2.37995ZM3.26761 5.45978C2.91564 5.22929 2.44358 5.3277 2.21303 5.67962C2.204 5.69338 1.9898 6.02056 1.80709 6.31702C1.68195 6.52138 1.56397 6.73003 1.45335 6.9426C1.26124 7.31675 1.40876 7.77566 1.78282 7.96787C1.89027 8.02328 2.00941 8.0522 2.13031 8.05222C2.40666 8.05222 2.67337 7.9013 2.80844 7.63866C2.80971 7.63607 2.94347 7.37663 3.10389 7.11637C3.27543 6.83814 3.48531 6.51751 3.48739 6.51431C3.71794 6.16239 3.61947 5.69028 3.26761 5.45978ZM0.728394 12.2006C0.75816 12.2041 0.788104 12.2058 0.818074 12.2059C1.19909 12.2059 1.5282 11.9205 1.57365 11.5328C1.574 11.5299 1.60798 11.2429 1.66759 10.9402C1.73077 10.6196 1.81506 10.2459 1.81593 10.2421C1.90865 9.8318 1.65119 9.42397 1.24083 9.33125C0.830414 9.23847 0.422742 9.49603 0.329964 9.90634C0.326308 9.92239 0.240183 10.304 0.172898 10.6457C0.127273 10.8809 0.0898242 11.1176 0.0606207 11.3553C0.011566 11.7732 0.310515 12.1516 0.728394 12.2006ZM1.78073 15.6127C1.73419 15.4182 1.69432 15.2221 1.66119 15.0249C1.60808 14.7024 1.55613 14.3228 1.55562 14.319C1.49869 13.9022 1.11535 13.6102 0.697824 13.6674C0.281011 13.7243 -0.0107269 14.1083 0.0461481 14.5251C0.0483825 14.5414 0.101398 14.9289 0.157968 15.2724C0.197588 15.5088 0.245419 15.7437 0.301375 15.9767C0.386839 16.3241 0.698027 16.5567 1.04044 16.5567C1.10072 16.5567 1.16191 16.5494 1.22305 16.5344C1.63159 16.4339 1.88128 16.0213 1.78073 15.6127ZM3.08581 18.8532C2.92316 18.5698 2.74152 18.2323 2.73969 18.229C2.54037 17.8585 2.07831 17.7198 1.70807 17.919C1.33757 18.1183 1.19878 18.5802 1.3981 18.9506C1.40587 18.9652 1.59127 19.3096 1.76459 19.6115C1.88446 19.819 2.01151 20.0222 2.1455 20.2209C2.29291 20.4369 2.53189 20.5531 2.77513 20.5531C2.92296 20.5531 3.07241 20.5102 3.20368 20.4206C3.55117 20.1836 3.6407 19.7098 3.4038 19.3622C3.40213 19.3598 3.238 19.1185 3.08581 18.8532ZM6.23689 22.3055C6.07415 22.1891 5.91536 22.0673 5.76082 21.9402C5.50919 21.7317 5.22091 21.4792 5.21807 21.4767C4.90175 21.1995 4.42039 21.2311 4.14318 21.5476C3.86591 21.864 3.89765 22.3452 4.21402 22.6225C4.22641 22.6333 4.52064 22.891 4.78876 23.1132C5.07151 23.3475 5.34735 23.5424 5.35898 23.5506C5.4871 23.6411 5.64016 23.6898 5.79707 23.6897C6.0363 23.6897 6.27183 23.5773 6.42021 23.367C6.66259 23.0233 6.58053 22.5481 6.23689 22.3055ZM9.92122 24.0702C9.72805 24.0183 9.53671 23.9598 9.34755 23.8949C9.03885 23.7877 8.68043 23.6521 8.67683 23.6507C8.28353 23.5019 7.84381 23.7001 7.69482 24.0936C7.54593 24.487 7.74418 24.9267 8.13763 25.0756C8.15307 25.0814 8.5189 25.2197 8.84786 25.3339C9.19469 25.4544 9.52127 25.5403 9.53498 25.5439C9.59972 25.5609 9.66467 25.569 9.72856 25.569C10.0665 25.569 10.3752 25.3424 10.4649 25.0002C10.5716 24.5932 10.3282 24.1769 9.92122 24.0702Z"
                                                fill="#D01818" />
                                        </g>
                                        <defs>
                                            <clipPath id="clip0_4175_433">
                                                <rect width="26" height="26" fill="white" />
                                            </clipPath>
                                        </defs>
                                    </svg>
                                </div>
                                <div class="content-overview">
                                    <span>Pending</span>
                                    <div class="listing-text number" data-to="416" data-speed="3000"
                                        data-waypoint-active="yes">416</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-xl-6 col-xxl-3">
                            <div class="db-card tf-counter">
                                <div class="icon-overview">
                                    <svg width="27" height="26" viewBox="0 0 27 26" fill="none"
                                        xmlns="../http://www.w3.org/2000/svg">
                                        <path
                                            d="M24.5027 3.19109C23.1578 1.74559 21.2734 0.923122 19.2991 0.920073C17.3231 0.92236 15.4367 1.74439 14.0898 3.19016L13.6308 3.67522L13.1718 3.19016C10.4992 0.313704 6.00069 0.148513 3.12429 2.82112C2.99683 2.9396 2.87373 3.06265 2.75525 3.19016C-0.0798765 6.2482 -0.0798765 10.9743 2.75525 14.0323L12.9562 24.7899C13.3091 25.1624 13.8973 25.1784 14.2698 24.8255C14.282 24.8139 14.2939 24.8021 14.3055 24.7899L24.5027 14.0323C27.3376 10.9746 27.3376 6.2488 24.5027 3.19109ZM23.1581 12.7527H23.1572L13.6308 22.8004L4.10357 12.7527C1.93769 10.4161 1.93769 6.8054 4.10357 4.46878C6.07044 2.33699 9.39314 2.20332 11.5249 4.1702C11.6284 4.26569 11.728 4.36528 11.8235 4.46878L12.9562 5.66377C13.3295 6.03466 13.9322 6.03466 14.3055 5.66377L15.4382 4.46971C17.405 2.33791 20.7277 2.20425 22.8595 4.17112C22.963 4.26662 23.0626 4.3662 23.1581 4.46971C25.3428 6.81003 25.3588 10.4273 23.1581 12.7527Z"
                                            fill="#D01818" />
                                    </svg>
                                </div>
                                <div class="content-overview">
                                    <span>My Favorite</span>
                                    <div class="d-flex">
                                        <div class="listing-text number" data-to="251" data-speed="3000"
                                            data-waypoint-active="yes">251</div><span> + </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-xl-6 col-xxl-3">
                            <div class="db-card tf-counter">
                                <div class="icon-overview">
                                    <svg width="31" height="30" viewBox="0 0 31 30" fill="none"
                                        xmlns="../http://www.w3.org/2000/svg">
                                        <path
                                            d="M18.9339 6.39608L20.694 4.68046C20.8194 4.55837 20.9081 4.40362 20.9501 4.23374C20.992 4.06385 20.9856 3.8856 20.9316 3.71916C20.8775 3.55272 20.7779 3.40473 20.6441 3.29195C20.5103 3.17917 20.3476 3.10609 20.1744 3.08099L17.7414 2.72764L16.6538 0.522925C16.5675 0.376727 16.4445 0.255569 16.297 0.171402C16.1496 0.0872355 15.9827 0.0429687 15.8129 0.0429688C15.6431 0.0429688 15.4762 0.0872355 15.3288 0.171402C15.1813 0.255569 15.0583 0.376727 14.972 0.522925L13.8845 2.72755L11.4515 3.08089C11.2783 3.106 11.1156 3.17908 10.9817 3.29186C10.8479 3.40464 10.7484 3.55262 10.6943 3.71906C10.6402 3.8855 10.6338 4.06375 10.6758 4.23364C10.7178 4.40353 10.8065 4.55827 10.9319 4.68036L12.692 6.39599L12.2763 8.81933C12.2467 8.99178 12.2659 9.16907 12.3318 9.33115C12.3977 9.49323 12.5077 9.63363 12.6493 9.73647C12.7908 9.8393 12.9583 9.90047 13.1328 9.91305C13.3074 9.92563 13.4819 9.88912 13.6368 9.80765L15.8129 8.66333L17.9891 9.80774C18.144 9.88921 18.3185 9.92572 18.493 9.91314C18.6676 9.90056 18.8351 9.8394 18.9766 9.73656C19.1182 9.63373 19.2281 9.49333 19.2941 9.33125C19.36 9.16917 19.3792 8.99187 19.3496 8.81943L18.9339 6.39608Z"
                                            fill="#D01818" />
                                        <path
                                            d="M30.7671 6.49086C30.713 6.32446 30.6134 6.17651 30.4796 6.06373C30.3458 5.95096 30.1831 5.87786 30.01 5.8527L27.5774 5.49927L26.4888 3.29474C26.4026 3.14846 26.2797 3.02722 26.1322 2.94299C25.9848 2.85876 25.8179 2.81445 25.6481 2.81445C25.4783 2.81445 25.3114 2.85876 25.164 2.94299C25.0166 3.02722 24.8937 3.14846 24.8074 3.29474L23.7199 5.49927L21.2874 5.8527C21.1143 5.8778 20.9516 5.95084 20.8178 6.06356C20.684 6.17629 20.5844 6.32419 20.5303 6.49056C20.4762 6.65692 20.4698 6.83511 20.5116 7.00497C20.5535 7.17482 20.6421 7.32957 20.7674 7.4517L22.5279 9.16733L22.1122 11.5908C22.0825 11.7632 22.1017 11.9405 22.1676 12.1025C22.2334 12.2646 22.3433 12.405 22.4848 12.5079C22.6264 12.6108 22.7938 12.672 22.9683 12.6847C23.1428 12.6973 23.3174 12.6609 23.4722 12.5795L25.648 11.4358L27.8242 12.5795C27.979 12.661 28.1536 12.6975 28.3281 12.6849C28.5026 12.6724 28.6702 12.6112 28.8117 12.5084C28.9533 12.4055 29.0632 12.2651 29.1291 12.1031C29.1951 11.941 29.2143 11.7637 29.1847 11.5912L28.7691 9.1678L30.5293 7.45217C30.6547 7.33011 30.7434 7.17538 30.7855 7.00548C30.8275 6.83559 30.8211 6.65732 30.7671 6.49086Z"
                                            fill="#D01818" />
                                        <path
                                            d="M10.3381 5.85207L7.90559 5.49864L6.81809 3.29411C6.74067 3.13723 6.62091 3.00515 6.47234 2.91279C6.32377 2.82043 6.15232 2.77148 5.97739 2.77148C5.80245 2.77148 5.631 2.82043 5.48243 2.91279C5.33386 3.00515 5.2141 3.13723 5.13668 3.29411L4.04806 5.49864L1.61543 5.85207C1.44226 5.87719 1.27958 5.95027 1.14578 6.06305C1.01199 6.17582 0.91243 6.32379 0.858367 6.49022C0.804304 6.65664 0.797897 6.83487 0.83987 7.00475C0.881844 7.17462 0.970522 7.32936 1.09587 7.45145L2.85631 9.16717L2.44062 11.5906C2.41101 11.7631 2.43026 11.9403 2.49617 12.1024C2.56209 12.2645 2.67205 12.4049 2.81361 12.5077C2.95517 12.6106 3.12268 12.6717 3.2972 12.6843C3.47172 12.6969 3.64628 12.6604 3.80112 12.5789L5.97734 11.4352L8.15309 12.5789C8.30793 12.6604 8.48249 12.6969 8.65701 12.6843C8.83153 12.6717 8.99904 12.6106 9.1406 12.5077C9.28216 12.4049 9.39212 12.2645 9.45804 12.1024C9.52395 11.9403 9.5432 11.7631 9.51359 11.5906L9.0979 9.16717L10.8584 7.45154C10.9837 7.32941 11.0723 7.17466 11.1141 7.0048C11.156 6.83495 11.1496 6.65676 11.0954 6.4904C11.0413 6.32403 10.9418 6.17612 10.808 6.0634C10.6742 5.95068 10.5113 5.87717 10.3381 5.85207Z"
                                            fill="#D01818" />
                                        <path
                                            d="M25.1875 14.0625H6.4375C5.69183 14.0633 4.97694 14.3599 4.44967 14.8872C3.9224 15.4144 3.62582 16.1293 3.625 16.875V24.375C3.62582 25.1207 3.9224 25.8356 4.44967 26.3628C4.97694 26.8901 5.69183 27.1867 6.4375 27.1875H12.6118L15.1497 29.7253C15.2367 29.8124 15.34 29.8815 15.4538 29.9286C15.5675 29.9757 15.6894 30 15.8125 30C15.9356 30 16.0575 29.9757 16.1712 29.9286C16.285 29.8815 16.3883 29.8124 16.4753 29.7253L19.0132 27.1875H25.1875C25.9332 27.1867 26.6481 26.8901 27.1753 26.3628C27.7026 25.8356 27.9992 25.1207 28 24.375V16.875C27.9992 16.1293 27.7026 15.4144 27.1753 14.8872C26.6481 14.3599 25.9332 14.0633 25.1875 14.0625ZM23.3125 23.4375H8.3125C8.06386 23.4375 7.8254 23.3387 7.64959 23.1629C7.47377 22.9871 7.375 22.7486 7.375 22.5C7.375 22.2514 7.47377 22.0129 7.64959 21.8371C7.8254 21.6613 8.06386 21.5625 8.3125 21.5625H23.3125C23.5611 21.5625 23.7996 21.6613 23.9754 21.8371C24.1512 22.0129 24.25 22.2514 24.25 22.5C24.25 22.7486 24.1512 22.9871 23.9754 23.1629C23.7996 23.3387 23.5611 23.4375 23.3125 23.4375ZM23.3125 19.6875H8.3125C8.06386 19.6875 7.8254 19.5887 7.64959 19.4129C7.47377 19.2371 7.375 18.9986 7.375 18.75C7.375 18.5014 7.47377 18.2629 7.64959 18.0871C7.8254 17.9113 8.06386 17.8125 8.3125 17.8125H23.3125C23.5611 17.8125 23.7996 17.9113 23.9754 18.0871C24.1512 18.2629 24.25 18.5014 24.25 18.75C24.25 18.9986 24.1512 19.2371 23.9754 19.4129C23.7996 19.5887 23.5611 19.6875 23.3125 19.6875Z"
                                            fill="#D01818" />
                                    </svg>
                                </div>
                                <div class="content-overview">
                                    <span>My Review</span>
                                    <div class="d-flex">
                                        <div class="listing-text number" data-to="235" data-speed="3000"
                                            data-waypoint-active="yes">235</div><span> + </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br><br><br><br> <br><br><br><br> <br><br><br><br> <br><br><br><br>



            </div>
        </div>
    </main>

    </div>
    </div>

    </div>
    <!-- /#page -->

    <!-- Button Top -->
    <a id="scroll-top" class="button-go"></a>
    <!-- Button Top -->

    <!-- Modal -->
    <div class="modal fade" id="exampleModalToggle" aria-hidden="true" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="content-re-lo">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    <div class="title">Register</div>
                    <div class="register-form">
                        <div class="respond-register-form">
                            <form method="post" class="comment-form form-submit" action="/" accept-charset="utf-8"
                                novalidate="novalidate">
                                <fieldset>
                                    <label>User name</label>
                                    <input type="text" class="tb-my-input" name="text" placeholder="User name">
                                </fieldset>
                                <fieldset>
                                    <label>Email</label>
                                    <input type="email" class="tb-my-input" name="email" placeholder="Email">
                                </fieldset>
                                <fieldset>
                                    <label>Password</label>
                                    <input type="password" class="input-form password-input"
                                        placeholder="Your password">
                                </fieldset>
                                <fieldset>
                                    <label>Confirm password</label>
                                    <input type="password" class="input-form password-input"
                                        placeholder="Confirm password">
                                </fieldset>
                                <button class="sc-button" name="submit" type="submit">
                                    <span>Sign Up</span>
                                </button>
                            </form>
                        </div>
                    </div>
                    <div class="text-box text-center mt-30">Allready have an account? <a class="color-popup "
                            data-bs-target="#exampleModalToggle2" data-bs-toggle="modal"
                            data-bs-dismiss="modal">Login</a></div>
                </div>

            </div>
        </div>
    </div>
    <div class="modal fade" id="exampleModalToggle2" aria-hidden="true" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">

                <div class="content-re-lo">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    <div class="title">Login</div>
                    <div class="register-form">
                        <div class="respond-register-form">
                            <form method="post" class="comment-form form-submit" action="#" accept-charset="utf-8">
                                <fieldset>
                                    <label>Account</label>
                                    <input type="email" id="email" class="tb-my-input" name="email"
                                        placeholder="Email or user name">
                                </fieldset>
                                <fieldset>
                                    <label>Password</label>
                                    <input type="password" class="input-form password-input"
                                        placeholder="Your password">
                                </fieldset>
                                <div class="title-forgot t-al-right mb-20"><a class="t-al-right"
                                        data-bs-target="#exampleModalToggle3" data-bs-toggle="modal"
                                        data-bs-dismiss="modal">Forgot password</a>
                                </div>
                                <button class="sc-button" name="submit" type="submit">
                                    <span>Login</span>
                                </button>
                            </form>
                        </div>
                    </div>
                    <div class="text-box text-center mt-30">Don’t you have an account? <a class="color-popup"
                            data-bs-target="#exampleModalToggle" data-bs-toggle="modal"
                            data-bs-dismiss="modal">Register</a></div>
                </div>

            </div>
        </div>
    </div>
    <div class="modal fade" id="exampleModalToggle3" aria-hidden="true" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="content-re-lo">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    <div class="title">Forgot your password?</div>
                    <div class="register-form">
                        <div class="respond-register-form">
                            <form method="post" class="comment-form form-submit" action="#" accept-charset="utf-8">

                                <fieldset>
                                    <label>Password</label>
                                    <input type="password" class="input-form password-input"
                                        placeholder="Your password">
                                </fieldset>
                                <button class="sc-button" name="submit" type="submit">
                                    <span>Get new password</span>
                                </button>
                            </form>
                        </div>
                    </div>
                    <div class="text-box text-center mt-30"><a class="color-popup" data-bs-target="#exampleModalToggle2"
                            data-bs-toggle="modal" data-bs-dismiss="modal">Back to Login</a></div>
                </div>

            </div>
        </div>
    </div><!-- Modal -->


    <!-- Javascript -->
    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>
    <script src="../assets/js/jquery.nice-select.min.js"></script>
    <script src="../assets/js/swiper-bundle.min.js"></script>
    <script src="../assets/js/swiper.js"></script>
    <script src="../assets/js/jquery-countTo.js"></script>
    <script src="../assets/js/nouislider.min.js"></script>
    <script src="../assets/js/price-ranger.js"></script>
    <script src="../assets/js/magnific-popup.min.js"></script>
    <script src="../assets/js/apexcharts.js"></script>
    <script src="../assets/js/line-chart.js"></script>
    <script src="../assets/js/wow.min.js"></script>
    <script src="../assets/js/map.min.js"></script>
    <script src="../assets/js/map.js"></script>
    <script src="../assets/js/main.js"></script>



  
    </body>

    </html>