<div class="themesflat-container">
    <div class="tf-add-cart">
        <form action="/" id="submit-add-cart" class="form-add-cart needs-validation" novalidate>
            <fieldset id="information" class="mb-60">
                <div class="inner-title mb-30">
                    <span class="sub-title">Add Your Car Today</span>
                    <h3 class="title">Add Your car</h3>
                </div>
                <div class="tfad-listing-title mb-30">
                    <div class="form-group">
                        <label>Listing Title (*)</label>
                        <input type="text" id="listing-title" class="form-control" name="listing-title"
                            placeholder="Enter title here" value="">
                    </div>
                </div>
                <div class="listing-fields-grid mb-30">
                    <div class="form-group">
                        <label>Listing Title (*)</label>
                        <div class="group-select">
                            <div class="nice-select" tabindex="0"><span class="current">BMV</span>
                                <ul class="list">
                                    <li data-value class="option selected">BMV</li>
                                    <li data-value="Audi" class="option">Audi</li>
                                    <li data-value="Bentley" class="option">Bentley</li>
                                    <li data-value="Acura" class="option">Acura</li>
                                    <li data-value="Ferrari" class="option">Ferrari</li>
                                    <li data-value="Ford" class="option">Ford</li>
                                    <li data-value="Lexus" class="option">Lexus</li>
                                    <li data-value="Maybach" class="option">Maybach</li>
                                    <li data-value="Mercedes" class="option">Mercedes</li>
                                    <li data-value="Porsche" class="option">Porsche</li>
                                    <li data-value="Toyota" class="option">Toyota</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label> Model (*)</label>
                        <div class="group-select">
                            <div class="nice-select" tabindex="0"><span class="current">X5</span>
                                <ul class="list">
                                    <li data-value class="option selected">X5</li>
                                    <li data-value="3 Series" class="option">3 Series</li>
                                    <li data-value="718 Boxster T" class="option">718 Boxster T</li>
                                    <li data-value="718 Cayman" class="option">718 Cayman</li>
                                    <li data-value="911 Carrera 4" class="option">911 Carrera 4</li>
                                    <li data-value="A4" class="option">A4</li>
                                    <li data-value="Bentayga" class="option">Bentayga</li>
                                    <li data-value="Bentayga Azure" class="option">Bentayga Azure</li>
                                    <li data-value="Bentayga Technology" class="option">Bentayga
                                        Technology</li>
                                    <li data-value="C Class" class="option">C Class</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Type (*)</label>
                        <div class="group-select">
                            <div class="nice-select" tabindex="0"><span class="current">Crossover</span>
                                <ul class="list">
                                    <li data-value class="option selected">Crossover</li>
                                    <li data-value="Crossover" class="option">Compact</li>
                                    <li data-value="Convertible" class="option">Convertible</li>
                                    <li data-value="Crossover" class="option">Crossover</li>
                                    <li data-value="Hatchback" class="option">Hatchback</li>
                                    <li data-value="Sedan" class="option">Sedan</li>
                                    <li data-value="SUV" class="option">SUV</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Years (*)</label>
                        <div class="group-select">
                            <input type="tel" id="year" value="2022" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Condition</label>
                        <div class="group-select">
                            <div class="nice-select" tabindex="0"><span class="current">Used</span>
                                <ul class="list">
                                    <li data-value class="option selected">Used</li>
                                    <li data-value="New" class="option">New</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Stock Number</label>
                        <div class="group-select">
                            <input type="tel" id="stock-number" placeholder="Enter Number" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>VIN Number</label>
                        <div class="group-select">
                            <input type="tel" id="vin-number" placeholder="Enter VIN" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Mileage</label>
                        <div class="group-select">
                            <input type="number" id="mileage" placeholder="Enter Mileage" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Transmission</label>
                        <div class="group-select">
                            <div class="nice-select" tabindex="0"><span class="current">Manual
                                    Transmission</span>
                                <ul class="list">
                                    <li data-value class="option selected">Manual Transmission</li>
                                    <li data-value="Auto" class="option">Auto</li>
                                    <li data-value="CVT" class="option">CVT</li>
                                    <li data-value="DCT" class="option">DCT</li>
                                    <li data-value="MT" class="option">MT</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Driver Type</label>
                        <div class="group-select">
                            <div class="nice-select" tabindex="0"><span class="current">FWD</span>
                                <ul class="list">
                                    <li data-value class="option selected">FWD</li>
                                    <li data-value="2WD" class="option">2WD</li>
                                    <li data-value="3WD" class="option">3WD</li>
                                    <li data-value="4WD" class="option">4WD</li>
                                    <li data-value="WD" class="option">WD</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Engine Size</label>
                        <div class="group-select">
                            <input type="text" id="engine-size" placeholder="Enter Engine" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Cylinders</label>
                        <div class="group-select">
                            <div class="nice-select" tabindex="0"><span class="current">1</span>
                                <ul class="list">
                                    <li data-value class="option selected">1</li>
                                    <li data-value="2" class="option">2</li>
                                    <li data-value="3" class="option">3</li>
                                    <li data-value="4" class="option">4</li>
                                    <li data-value="5" class="option">5</li>
                                    <li data-value="6" class="option">6</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Fuel Type</label>
                        <div class="group-select">
                            <div class="nice-select" tabindex="0"><span class="current">Petrol</span>
                                <ul class="list">
                                    <li data-value class="option selected">Petrol</li>
                                    <li data-value="Diesel" class="option">Diesel</li>
                                    <li data-value="Electric" class="option">Electric</li>
                                    <li data-value="Gasoline" class="option">Gasoline</li>
                                    <li data-value="Hybrid" class="option">Hybrid</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Doors</label>
                        <div class="group-select">
                            <div class="nice-select" tabindex="0"><span class="current">4</span>
                                <ul class="list">
                                    <li data-value class="option selected">4</li>
                                    <li data-value="2" class="option">2</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Color</label>
                        <div class="group-select">
                            <div class="nice-select" tabindex="0"><span class="current">Black</span>
                                <ul class="list">
                                    <li data-value class="option selected">Black</li>
                                    <li data-value="red" class="option">Red</li>
                                    <li data-value="White" class="option">White</li>
                                    <li data-value="Green" class="option">Green</li>
                                    <li data-value="Yellow" class="option">Yellow</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Seats</label>
                        <div class="group-select">
                            <div class="nice-select" tabindex="0"><span class="current">1</span>
                                <ul class="list">
                                    <li data-value class="option selected">1</li>
                                    <li data-value="2" class="option">2</li>
                                    <li data-value="3" class="option">3</li>
                                    <li data-value="4" class="option">4</li>
                                    <li data-value="5" class="option">5</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>City MPG</label>
                        <div class="group-select">
                            <input type="text" id="city-mpg" placeholder="18" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Highway MPG</label>
                        <div class="group-select">
                            <input type="text" id="highway-mpg" placeholder="28" required>
                        </div>
                    </div>
                </div>
                <div class="description-fields mb-30">
                    <div class="form-group">
                        <label>Description</label>
                        <div class="group-select">
                            <textarea id="description" name="Description">
                            </textarea>
                        </div>
                    </div>
                </div>
                <div class="listing-fields-grid mb-30">
                    <div class="form-group">
                        <label>Request Price Label</label>
                        <div class="group-select">
                            <div class="radio">
                                <input id="first" type="radio" name="numbers" value="first">
                                <label for="first">Negotiable</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label> Regular Price *</label>
                        <div class="group-select">
                            <input type="number" id="regular-price" placeholder="Enter Sale Price"
                                required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Sale Price</label>
                        <div class="group-select">
                            <input type="number" id="sale-price" placeholder="Enter Sale Price"
                                required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Request Price Label</label>
                        <div class="group-select">
                            <input type="number" id="requesr-price" placeholder="Enter Sale Price"
                                required>
                        </div>
                    </div>
                </div>
            </fieldset>
            <fieldset id="amenities" class="mb-60">
                <div class="inner-title mb-30">
                    <span class="sub-title">Add Your Car Today</span>
                    <h3 class="title">Select Listing Features</h3>
                </div>
                <div class="tfad-listing-feature">
                    <div class="listing-feature-item">
                        <div class="form-group">
                            <label>Request Price Label</label>
                            <div class="group-select">
                                <div class="radio">
                                    <input id="front" type="checkbox" name="check" value="check">
                                    <label for="front">A/C: Front</label>
                                </div>
                                <div class="radio">
                                    <input id="rear" type="checkbox" name="check" value="check">
                                    <label for="rear">A/C: Rear</label>
                                </div>
                                <div class="radio">
                                    <input id="camera" type="checkbox" name="check" value="check">
                                    <label for="camera">Backup Camera</label>
                                </div>
                                <div class="radio">
                                    <input id="control" type="checkbox" name="check" value="check">
                                    <label for="control">Cruise Control</label>
                                </div>
                                <div class="radio">
                                    <input id="navigation" type="checkbox" name="check" value="check">
                                    <label for="navigation">Navigation</label>
                                </div>
                                <div class="radio">
                                    <input id="locks" type="checkbox" name="check" value="check">
                                    <label for="locks">Power Locks</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="listing-feature-item">
                        <div class="form-group">
                            <label>Entertainment</label>
                            <div class="group-select">
                                <div class="radio">
                                    <input id="stereo" type="checkbox" name="check" value="check">
                                    <label for="stereo">AM/FM Stereo</label>
                                </div>
                                <div class="radio">
                                    <input id="cd" type="checkbox" name="check" value="check">
                                    <label for="cd">CD Player</label>
                                </div>
                                <div class="radio">
                                    <input id="dvd" type="checkbox" name="check" value="check">
                                    <label for="dvd">DVD System</label>
                                </div>
                                <div class="radio">
                                    <input id="mp3" type="checkbox" name="check" value="check">
                                    <label for="mp3">MP3 Player</label>
                                </div>
                                <div class="radio">
                                    <input id="portable" type="checkbox" name="check" value="check">
                                    <label for="portable">Portable Audio</label>
                                </div>
                                <div class="radio">
                                    <input id="premium" type="checkbox" name="check" value="check">
                                    <label for="premium">Premium Audio</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="listing-feature-item">
                        <div class="form-group">
                            <label>Safety</label>
                            <div class="group-select">
                                <div class="radio">
                                    <input id="driver" type="checkbox" name="check" value="check">
                                    <label for="driver">Airbag: Driver</label>
                                </div>
                                <div class="radio">
                                    <input id="passenger" type="checkbox" name="check" value="check">
                                    <label for="passenger">Airbag: Passenger</label>
                                </div>
                                <div class="radio">
                                    <input id="brakes" type="checkbox" name="check" value="check">
                                    <label for="brakes">Antilock Brakes</label>
                                </div>
                                <div class="radio">
                                    <input id="bluetooth" type="checkbox" name="check" value="check">
                                    <label for="bluetooth">Bluetooth</label>
                                </div>
                                <div class="radio">
                                    <input id="hands-free" type="checkbox" name="check" value="check">
                                    <label for="hands-free">Hands-Free</label>
                                </div>
                                <div class="radio">
                                    <input id="fog-lights" type="checkbox" name="check" value="check">
                                    <label for="fog-lights">Fog Lights</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="listing-feature-item">
                        <div class="form-group">
                            <label>Windows</label>
                            <div class="group-select">
                                <div class="radio">
                                    <input id="power" type="checkbox" name="check" value="check">
                                    <label for="power">Power Windows</label>
                                </div>
                                <div class="radio">
                                    <input id="defroster" type="checkbox" name="check" value="check">
                                    <label for="defroster">Windows Defroster</label>
                                </div>
                                <div class="radio">
                                    <input id="rear-window" type="checkbox" name="check" value="check">
                                    <label for="rear-window">Rear Window</label>
                                </div>
                                <div class="radio">
                                    <input id="wiper-tinted-glass" type="checkbox" name="check"
                                        value="check">
                                    <label for="wiper-tinted-glass">Wiper Tinted Glass</label>
                                </div>
                                <div class="radio">
                                    <input id="sunroof" type="checkbox" name="check" value="check">
                                    <label for="sunroof">Sunroof</label>
                                </div>
                                <div class="radio">
                                    <input id="tow-package" type="checkbox" name="check" value="check">
                                    <label for="tow-package">Tow Package</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="listing-feature-item">
                        <div class="form-group">
                            <label>Seats</label>
                            <div class="group-select">
                                <div class="radio">
                                    <input id="bucket-seats" type="checkbox" name="check" value="check">
                                    <label for="bucket-seats">Bucket Seats</label>
                                </div>
                                <div class="radio">
                                    <input id="heated-seats" type="checkbox" name="check" value="check">
                                    <label for="heated-seats">Heated Seats</label>
                                </div>
                                <div class="radio">
                                    <input id="leather-interior" type="checkbox" name="check"
                                        value="check">
                                    <label for="leather-interior">Leather Interior</label>
                                </div>
                                <div class="radio">
                                    <input id="memory-seats" type="checkbox" name="check" value="check">
                                    <label for="memory-seats">Memory Seats</label>
                                </div>
                                <div class="radio">
                                    <input id="power-seats" type="checkbox" name="check" value="check">
                                    <label for="power-seats">Power Seats</label>
                                </div>
                                <div class="radio">
                                    <input id="third-row-seats" type="checkbox" name="check"
                                        value="check">
                                    <label for="third-row-seats">Third Row Seats</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
            <fieldset id="location" class="pd-bg mb-60">
                <div class="inner-title mb-30">
                    <span class="sub-title">Add Your Car Today</span>
                    <h3 class="title">Add Your location</h3>
                </div>
                <p class="location mb-20">*Note: Just type the address into the search bar in the
                    upper-right corner of the map below, then press the Enter key.</p>
                <div class="form-group">
                    <label>Full Address</label>
                    <div class="group-select">
                        <input type="text" id="address" placeholder="Enter Full Address" required>
                    </div>
                </div>
                <div class="form-group">
                    <label>Map Location</label>
                    <div class="group-map-address-field">
                        <input class="address-searching " id="address-searching" type="text" value=""
                            aria-invalid="false">
                        <button type="button" class="button-location">
                            <i class="icon-search-1"></i>
                        </button>
                    </div>
                </div>
                <div class="form-group">
                    <div class="map2">
                        <div id="map2"></div>
                    </div>
                </div>
            </fieldset>
            <fieldset id="upload-media" class="pd-bg">
                <div class="inner-title mb-30">
                    <span class="sub-title">Media</span>
                    <h3 class="title">Upload Your Photos</h3>
                </div>
                <div class="upload-image-add-car">
                    <div class="upload-image">
                        <label for="photoLoad" class="uploadLabel">
                            <i class="icon-Group4"></i>
                            <span>Add a Photo</span>
                            <input type="file" id="photoLoad" class="photoLoad" accept="image/*">
                        </label>
                    </div>
                    <div class="upload-image">
                        <label for="photoLoad1" class="uploadLabel">
                            <i class="icon-Group4"></i>
                            <span>Add a Photo</span>
                            <input type="file" id="photoLoad1" class="photoLoad" accept="image/*">
                        </label>
                    </div>
                    <div class="upload-image">
                        <label for="photoLoad2" class="uploadLabel">
                            <i class="icon-Group4"></i>
                            <span>Add a Photo</span>
                            <input type="file" id="photoLoad2" class="photoLoad" accept="image/*">
                        </label>
                    </div>
                    <div class="upload-image">
                        <label for="photoLoad3" class="uploadLabel">
                            <i class="icon-Group4"></i>
                            <span>Add a Photo</span>
                            <input type="file" id="photoLoad3" class="photoLoad" accept="image/*">
                        </label>
                    </div>
                    <div class="upload-image">
                        <label for="photoLoad4" class="uploadLabel">
                            <i class="icon-Group4"></i>
                            <span>Add a Photo</span>
                            <input type="file" id="photoLoad4" class="photoLoad" accept="image/*">
                        </label>
                    </div>
                </div>
                <p class="one-photo text-red">*You must upload at least one photo</p>
            </fieldset>
            <fieldset id="video" class="pd-bg">
                <div class="inner-title mb-30">
                    <h3 class="title">Add Video</h3>
                </div>
                <div class="form-group">
                    <div class="group-video">
                        <input type="url" id="link-video" placeholder="Www.youtube.com/mehedii mohammad"
                            required>
                    </div>
                </div>
            </fieldset>
            <fieldset id="file-attachment" class="pd-bg">
                <div class="inner-title mb-30">
                    <h3 class="title">Attachment / VIN Report</h3>
                </div>
                <div class="upload-image">
                    <label for="photoLoad-vin" class="uploadLabel">
                        <i class="icon-Group4"></i>
                        <span>Add a Photo</span>
                        <input type="file" id="photoLoad-vin" class="photoLoad" accept="image/*">
                    </label>
                </div>
            </fieldset>
            <fieldset>
                <button type="submit" class="button-save-listing">Add
                    Car</button>
            </fieldset>
        </form>
    </div>
</div>


<div class="group-select">
    <select name="fueltype" tabindex="0" class="nice-select">
        <option value="" class="current">Select</option>
        <option value="Petrol">Petrol</option>
        <option value="Diesel">Diesel</option>
        <option value="Electric">Electric</option>
    </select>
</div>