<%- include('./header.ejs') %>
            <!-- Slide-v3 -->
            <div class="tf-slider-v3">
                <div class="themesflat-container">
                    <div class="slider-v3 t-al-center">
                        <h1 class="wow fadeInUp" data-wow-delay="300ms" data-wow-duration="2000ms">Find Perfect Car.
                            Let’s Go!</h1>
                        <p class="wow fadeInUp" data-wow-delay="600ms" data-wow-duration="2000ms">Unlimited mileage · No
                            hidden fees · Free cancellation</p>
                        <div class="group-button wow fadeInUp" data-wow-delay="900ms" data-wow-duration="2000ms">
                            <!-- Button -->
                            <!-- Button -->
                            <!-- Button -->
                            <!-- <h2 class="text-red" >About us</h2> -->
                            <!-- Button -->
                        </div>
                    </div>
                </div>

            </div>
            <!-- Slide -->

            

<%- include('./footer.ejs') %>