<!-- Footer -->
<footer id="footer" class="clearfix bg-footer2 pd-t81 re-hi">
    <div class="themesflat-container">
        <div class="row footer-top">
            <div class="col-lg-6 col-md-12 col-12 pd-r80 ">
                <h2 class="title-footer-top">Do you Have <span class="red-title">something</span> to sell
                    through us?</h2>
                <!-- <img class="icon-ft" src="/assets/images/page/shape-footer.png" alt=""> -->
            </div>
            <div class="col-lg-6 col-md-12 col-12 t-al-right pt-20">
                <a href="#" class="btn-sell">Sell your car today</a>
            </div>
        </div>
        <div class="row footer-main">
            <div class="col-lg-3 col-md-6 col-12">
                <div class="widget widget-info">
                    <img src="assets/images/logo/logo2.png" alt="Logo Footer">
                    <p>The world’s first and largest digital market for crypto collectibles and non-fungible
                        (NFTs). Buy</p>
                    <ul>
                        <li>
                            <i class="icon-Vector1"></i>
                            <p>14 New South Head Rd,Triple 3148London, UK</p>
                        </li>
                        <li>
                            <i class="icon-Group-1"></i>
                            <p>needhelp@company.com</p>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-12">
                <div class="widget widget-menu pl-60">
                    <h3>Quick Links</h3>
                    <ul class="box-menu">
                        <li><a href="#">Dealer Locator</a></li>
                        <li><a href="#">Service Locator</a></li>
                        <li><a href="#">Pre-owned</a></li>
                        <li><a href="#">Accessori Originali</a></li>
                        <li><a href="#">Spare Parts</a></li>
                        <li><a href="#"> Services</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-12">
                <div class="widget widget-menu pl-30">
                    <h3>Research</h3>
                    <ul class="box-menu">
                        <li><a href="#">Build & Price A Vehicle</a></li>
                        <li><a href="#">Compare Models</a></li>
                        <li><a href="#"> Warranty</a></li>
                        <li><a href="#">Download a Brochure</a></li>
                        <li><a href="#">Sign-Up for Updates</a></li>
                        <li><a href="#">Mail Me a Brochure</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-12">
                <div class="widget widget-menu widget-form">
                    <h3>Newsletter</h3>
                    <form method="post" class="email-footer-form form-submit" action="#" accept-charset="utf-8">
                        <div class="text-wrap clearfix">
                            <fieldset class="email-wrap style-text">
                                <input type="email" class="tb-my-input" name="email" placeholder="Enter Email Adress"
                                    required="">
                            </fieldset>
                            <button name="submit" type="submit" class="btn-submit-email">
                                <i class="icon-Group"></i>
                            </button>
                        </div>
                        <div class="tfad-listing-feature">
                            <div class="radio">
                                <input id="front" type="checkbox" name="check" value="check">
                                <label for="front" class="text-white">I agree to all your terms and
                                    policies</label>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
        <div class="row footer-bottom">
            <div class="col-12 col-md-6 col-lg-6 col-xl-4 col-xxl-4">
                <p class="coppy-right">Made with ❤️ by <a href="#">Themesflat</a></p>
            </div>
            <div class="col-12 col-md-6 col-lg-6 col-xl-4 col-xxl-4">
                <ul class="social-icon">
                    <li>
                        <a href="#"><i class="icon-6"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="icon-4"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="icon-5"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="icon-7"></i></a>
                    </li>
                </ul>
            </div>
            <div class="col-md-12 col-lg-12 col-xl-4 col-xxl-4">
                <ul class="bottom-bar-menu">
                    <li><a href="#">Privacy & Policy</a></li>
                    <li><a href="#">Licensing</a></li>
                    <li><a href="#">Instruction</a></li>
                </ul>
            </div>
        </div>
    </div>
    <img src="assets/images/page/ft-left.png" alt="left" class="shape-left">
    <img src="assets/images/page/ft-right.png" alt="right" class="shape-right">
</footer><!-- /#footer -->

</div>
<!-- /#page -->

<!-- Button Top -->
<a id="scroll-top" class="button-go"></a>
<!-- Button Top -->

<!-- Modal -->
<div class="modal fade" id="exampleModalToggle" aria-hidden="true" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="content-re-lo">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <div class="title">Register</div>

                <div class="register-form">
                   
                            <div class="respond-register-form">
                                <form method="post" enctype="multipart/form-data" class="comment-form form-submit" action="/registrationInsert"
                                    accept-charset="utf-8" novalidate="novalidate">
                                    <fieldset>
                                        <label>User name</label>
                                        <input type="text" class="tb-my-input" name="name" placeholder="User name">
                                    </fieldset>
                                    <fieldset>
                                        <label>Email</label>
                                        <input type="email" class="tb-my-input" name="email" placeholder="Email">
                                    </fieldset>
                                    <fieldset>
                                        <label>Password</label>
                                        <input type="password" class="input-form password-input"
                                            placeholder="Your password" name="password">
                                    </fieldset>
                                    <fieldset>
                                        <label>Confirm password</label>
                                        <input type="password" class="tb-my-input"
                                            placeholder="Confirm password" name="confirmpassword">
                                    </fieldset>
                                    <fieldset>
                                        <label>Image upload</label>
                                        <input type="file" class="input-form password-input"
                                            placeholder="Image upload" name="image">
                                    </fieldset>
                                    <button class="sc-button" type="submit">
                                        <span>Sign Up</span>
                                    </button>
                                </form>
                            </div>
                </div>
                <div class="text-box text-center mt-30">Allready have an account? <a class="color-popup "
                        data-bs-target="#exampleModalToggle2" data-bs-toggle="modal" data-bs-dismiss="modal">Login</a>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="modal fade" id="exampleModalToggle2" aria-hidden="true" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <div class="content-re-lo">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <div class="title">Login</div>
                
                        <div class="register-form">
                            <div class="respond-register-form">
                                <form method="post" class="comment-form form-submit" action="/verifyLogin"
                                    accept-charset="utf-8">
                                    <fieldset>
                                        <label>Account</label>
                                        <input type="email" id="email" class="tb-my-input" name="email"
                                            placeholder="Email or user name">
                                    </fieldset>
                                    <fieldset>
                                        <label>Password</label>
                                        <input type="password" class="input-form password-input" name="password"
                                            placeholder="Your password">
                                    </fieldset>
                                    <div class="title-forgot t-al-right mb-20"><a class="t-al-right"
                                            data-bs-target="#exampleModalToggle3" data-bs-toggle="modal"
                                            data-bs-dismiss="modal">Forgot password</a>
                                    </div>
                                    <button class="sc-button" type="submit">
                                        <span>Login</span>
                                    </button>
                                </form>
                            </div>
                        </div>
                        <div class="text-box text-center mt-30">Don’t you have an account? <a class="color-popup"
                                data-bs-target="#exampleModalToggle" data-bs-toggle="modal"
                                data-bs-dismiss="modal">Register</a>
                        </div>
            </div>

        </div>
    </div>
</div>
<div class="modal fade" id="exampleModalToggle3" aria-hidden="true" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="content-re-lo">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <div class="title">Forgot your password?</div>
                <div class="register-form">
                    <div class="respond-register-form">
                        <form method="post" class="comment-form form-submit" action="#" accept-charset="utf-8">

                            <fieldset>
                                <label>Password</label>
                                <input type="password" class="input-form password-input" placeholder="Your password">
                            </fieldset>
                            <button class="sc-button" name="submit" type="submit">
                                <span>Get new password</span>
                            </button>
                        </form>
                    </div>
                </div>
                <div class="text-box text-center mt-30"><a class="color-popup" data-bs-target="#exampleModalToggle2"
                        data-bs-toggle="modal" data-bs-dismiss="modal">Back to Login</a></div>
            </div>

        </div>
    </div>
</div><!-- Modal -->


<!-- Javascript -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/jquery.nice-select.min.js"></script>
<script src="assets/js/jquery.nice-select.min.js"></script>
<script src="assets/js/swiper-bundle.min.js"></script>
<script src="assets/js/swiper.js"></script>
<script src="assets/js/jquery-countTo.js"></script>
<script src="assets/js/nouislider.min.js"></script>
<script src="assets/js/price-ranger.js"></script>
<script src="assets/js/magnific-popup.min.js"></script>
<script src="assets/js/wow.min.js"></script>
<script src="assets/js/main.js"></script>

</body>

</html>